.chefs-section{
    &__item{
        flex-basis: calc((100% - 30px)/2);
    }
    
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 40px 30 px;
    }

    &__title{
        margin: 0 auto 80px;
        position: relative;

        &::after, &:before{
            border: 2px solid var(--color-brand-light);
            bottom:24px;
            content: '';
            position: absolute;
            width: 352px;
    
        }

        &::after{
            left: 0;
        }
        
        &::before{
            right: 0;
        }
    }   
}

